/* SHOPIFY_STYLESHEETS_VERSION: 1.0 */
/* CSS from section stylesheet tags */
/* START_SECTION:contact-us-faq (INDEX:13) */
.section-contact-us-faq .contact-us-faq-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 42px;
}

.section-contact-us-faq .contact-us-faq__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.section-contact-us-faq .contact-us-faq__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.section-contact-us-faq .contact-us-faq__item {
    max-width: calc(50% - 20px * 1/2);
    width: calc(50% - 20px * 1/2);
    padding: 29px 21px 17px;
    border: 1.5px solid #D9D9D9;
    border-radius: 8px;
}

.section-contact-us-faq .contact-us-faq__item-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 123%;
    margin-bottom: 20px;
}

.section-contact-us-faq .contact-us-faq__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #717182;
}

@media (max-width: 767px) {
    .section-contact-us-faq .contact-us-faq__item {
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }

    .section-contact-us-faq .contact-us-faq__heading {
        font-size: 16px;
    }

    .section-contact-us-faq .contact-us-faq-header {
        margin-bottom: 33px;
    }

    .section-contact-us-faq .contact-us-faq__item-heading {
        font-size: 14px;
    }

    @media (prefers-color-scheme: dark) {
        .section-contact-us-faq .contact-us-faq__item-description {
            color: #FFFFFF;
        }
    }
}

/* END_SECTION:contact-us-faq */

/* START_SECTION:lookbook-collection-tabs (INDEX:48) */
.lookbook-collection-tabs {
    display: flex;
    width: 100%;
    padding-inline: 50px;
    gap: 48px;
    margin-top: 60px;
    overflow-x: auto;
    scrollbar-width: none;
}

.lookbook-collection-tabs .lookbook-tab {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
    white-space: nowrap;
}

.lookbook-collection-tabs .lookbook-tab.active {
    font-weight: 600;
}

.lookbook-collection-tabs-filters {
    padding-block: 15px;
}

@media screen and (max-width: 767px) {
    .lookbook-collection-tabs {
        padding-inline: 15px;
        gap: 22px;
    }

    .lookbook-collection-tabs .lookbook-tab {
        font-size: 10px;
    }

    .lookbook-collection-tabs-filters {
        padding-block: 10px;
    }
}

/* END_SECTION:lookbook-collection-tabs */

/* START_SECTION:page-announcement-bar (INDEX:62) */
.page-announcement-bar {
    width: 100%;
    background-color: var(--body-font-color);
    color: var(--body-background-color);
    padding: 12px 20px;
    text-align: center;
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
    .page-announcement-bar {
        background-color: var(--body-background-color);
        color: var(--body-font-color);
    }
}

.page-announcement-bar__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    color: var(--body-background-color);
}

.page-announcement-bar__content a {
    color: var(--body-background-color);
    text-decoration: none;
}

.page-announcement-bar__content a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
    .page-announcement-bar__content {
        color: var(--body-font-color);
    }

    .page-announcement-bar__content a {
        color: var(--body-font-color);
    }
}

.page-announcement-bar__content .sub_text {
    font-size: 11px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .page-announcement-bar .Container {
        padding: 0px;
    }

    .page-announcement-bar {
        padding: 10px 15px;
    }

    .page-announcement-bar__content {
        font-size: 10px;
    }

    .page-announcement-bar__content .sub_text {
        font-size: 8px;
    }
}

/* END_SECTION:page-announcement-bar */

/* START_SECTION:product-recommendation-unbox (INDEX:72) */
.product-recommendation-unbox-wrapper-section .slider-btn {
    display: none !important;
}

/* END_SECTION:product-recommendation-unbox */

/* START_SECTION:rarefore-form (INDEX:75) */
.rarefore-form .rarefore-form__inner {
    position: relative;
}

.rarefore-form .rarefore-form__inner.rarefore-form__inner--bg-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--form-bg-color);
}

.rarefore-form .rarefore-form__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.rarefore-form .rarefore-form__inner--bg-color .rarefore-form__content {
    position: static;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 30px;
}

.rarefore-form .rarefore-form__inner--bg-color .rarefore-form__content-inner {
    width: 80%;
}

.rarefore-form .rarefore-form__content-inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
}

.rarefore-form .rarefore-form__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rarefore-form .rarefore-form__description {
    font-size: 22px;
    color: var(--font-color);
    font-weight: 600;
    text-transform: capitalize;
    line-height: 30px;
}

.rarefore-form .rarefore-form__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rarefore-form .rarefore-form__title {
    font-size: 18px;
    color: var(--font-color);
}

.rarefore-form .rarefore-form__subdescription {
    font-size: 14px;
    color: var(--font-color);
}

.rarefore-form .rarefore-form__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rarefore-form .rarefore-form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rarefore-form .rarefore-form__item input {
    background: #FFFFFF;
    border: none;
    min-height: 32px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 14px;
    color: var(--button-bg-color) !important;
}

.rarefore-form .rarefore-form__item input:focus-visible {
    outline: none;
}

.rarefore-form .rarefore-form__item input:-webkit-autofill,
.rarefore-form .rarefore-form__item input:-webkit-autofill:hover,
.rarefore-form .rarefore-form__item input:-webkit-autofill:focus,
.rarefore-form .rarefore-form__item input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}

.rarefore-form .rarefore-form__item-label {
    font-size: 14px;
    color: var(--font-color);
}

.rarefore-form .rarefore-form__action-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rarefore-form .rarefore-form__action-button {
    background: var(--button-bg-color);
    border-radius: 17px;
    padding-inline: 30px;
    padding-block: 4px;
}

.rarefore-form .rarefore-form__action-button button {
    font-size: 13px;
    color: var(--font-color);
}

@media ((min-width: 701px) and (max-width: 1024px)) {
    .rarefore-form .rarefore-form__description {
        font-size: 18px;
        line-height: 25px;
    }

    .rarefore-form .rarefore-form__header {
        gap: 15px;
    }

    .rarefore-form .rarefore-form__title-wrapper {
        gap: 5px;
    }
}

@media ((min-width:550px) and (max-width: 700px)) {
    .rarefore-form .rarefore-form__description {
        font-size: 14px;
        line-height: 20px;
    }

    .rarefore-form .rarefore-form__title {
        font-size: 14px;
    }

    .rarefore-form .rarefore-form__subdescription,
    .rarefore-form .rarefore-form__item-label {
        font-size: 12px;
    }

    .rarefore-form .rarefore-form__item input {
        font-size: 10px;
    }

    .rarefore-form .rarefore-form__title-wrapper {
        gap: 2px;
    }

    .rarefore-form .rarefore-form__header {
        gap: 10px;
    }
}

@media ((min-width:400px) and (max-width: 549px)) {
    .rarefore-form .rarefore-form__description {
        font-size: 14px;
        line-height: 18px;
    }

    .rarefore-form .rarefore-form__header {
        gap: 6px;
    }

    .rarefore-form .rarefore-form__title {
        font-size: 15px;
    }

    .rarefore-form .rarefore-form__subdescription,
    .rarefore-form .rarefore-form__item-label,
    .rarefore-form .rarefore-form__item input {
        font-size: 12px;
    }

    .rarefore-form .rarefore-form__title-wrapper {
        gap: 0;
    }

    .rarefore-form .rarefore-form__content-inner {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .media--adapt {
        padding-bottom: var(--ratio-percent-mobile);
    }

    .rarefore-form .rarefore-form__content-inner {
        max-width: 80%;
    }
}

@media ((min-width:300px) and (max-width: 399px)) {
    .rarefore-form .rarefore-form__description {
        font-size: 11px;
        line-height: 15px;
    }

    .rarefore-form .rarefore-form__header {
        gap: 5px;
    }

    .rarefore-form .rarefore-form__title-wrapper {
        gap: 0;
    }

    .rarefore-form .rarefore-form__title {
        font-size: 13px;
    }

    .rarefore-form .rarefore-form__subdescription,
    .rarefore-form .rarefore-form__item-label,
    .rarefore-form .rarefore-form__item input {
        font-size: 10px;
    }

    .rarefore-form .rarefore-form__content-inner {
        padding: 0;
    }
}

/* END_SECTION:rarefore-form */

/* START_SECTION:section-get-in-touch (INDEX:79) */
.section-get-in-touch .PageContent {
    margin-block: 0;
    padding: 38px 22px 26px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    max-width: 580px;
}

.section-get-in-touch svg path {
    stroke: none;
}

.section-get-in-touch .get-in-touch-heading {
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.section-get-in-touch .get-in-touch-description {
    margin-top: 8px;
    font-size: 13px;
}

.section-get-in-touch .get-in-touch--inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-get-in-touch .get-in-touch-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-get-in-touch .get-in-touch-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-get-in-touch .get-in-touch-item {
    display: flex;
    gap: 18px;
}

.section-get-in-touch .get-in-touch-item.get-in-touch-item--top-divider {
    padding-top: 20px;
    border-top: 1px solid #D9D9D9;
}

.section-get-in-touch .get-in-touch-item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 137%;
}

@media (max-width: 767px) {
    .section-get-in-touch .PageContent {
        padding: 29px 21px 33px;
    }

    .section-get-in-touch .get-in-touch-heading {
        font-size: 14px;
    }

    .section-get-in-touch .get-in-touch-item-text {
        font-size: 14px;
    }
}

/* END_SECTION:section-get-in-touch */

/* START_SECTION:section-h1-title (INDEX:80) */
.h1-title-section .h1-title {
    padding-inline: 20px;
    text-align: left;
}

.h1-title-section .h1-title.text--center {
    text-align: center;
}

.h1-title-section .h1-title.text--right {
    text-align: right;
}

/* END_SECTION:section-h1-title */

/* START_SECTION:section-navigation-tabs (INDEX:84) */
.shopify-sticky-tab-bar {
    position: sticky;
    top: 97px;
    background: var(--body-background-color);
    z-index: 99;
}

.section-navigation-tabs {
    display: flex;
    width: 100%;
    padding-inline: 50px;
    gap: 48px;
}

.section-navigation-tabs .nav-tab {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.section-navigation-tabs .nav-tab.active {
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .shopify-sticky-tab-bar {
        top: 120px;
    }

    .section-navigation-tabs {
        padding-inline: 15px;
        gap: 22px;
    }

    .section-navigation-tabs .nav-tab {
        font-size: 10px;
    }
}

/* END_SECTION:section-navigation-tabs */

/* START_SECTION:section-sitemap-html (INDEX:87) */
.sitemap-html p.sitemap-brand-name {
    margin-block: 12px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}

/* END_SECTION:section-sitemap-html */

/* START_SECTION:text-with-button (INDEX:94) */
.text-with-button .text-with-button__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-with-button .text-with-button__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.text-with-button .text-with-button__content.text-alignment--left {
    align-items: flex-start;
}

.text-with-button .text-with-button__content.text-alignment--right {
    align-items: flex-end;
}

.text-with-button .text-with-button__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.text-with-button .text-with-button__description {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #717182;
    text-align: center;
}

.text-with-button .text-with-button__content.text-alignment--left .text-with-button__description {
    text-align: left;
}

.text-with-button .text-with-button__content.text-alignment--right .text-with-button__description {
    text-align: right;
}

.text-with-button .text-with-button__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-with-button .button-item {
    padding: 13px 95px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-with-button .button-item button {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

@media (max-width: 767px) {
    .text-with-button .text-with-button__inner {
        gap: 20px;
    }

    .text-with-button .text-with-button__content {
        gap: 9px;
    }

    .text-with-button .text-with-button__heading {
        font-size: 14px;
    }

    .text-with-button .text-with-button__description {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .text-with-button .button-item {
        padding: 12px 0;
        width: 100%;
    }

    .text-with-button .button-item button {
        font-size: 12px;
    }

    @media (prefers-color-scheme: dark) {
        .text-with-button .button-item {
            background-color: #FFFFFF;
            color: #000000;
        }

        .text-with-button .text-with-button__description {
            color: #FFFFFF;
        }
    }
}

/* END_SECTION:text-with-button */

/* START_SECTION:title-text-link-section (INDEX:99) */
.travel-clothing-text-section {
    display: flex;
    justify-content: center;
}

.travel-clothing-text-section__inner {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.travel-clothing-text-section__headline {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--body-font-color);
    margin: 0 auto 60px;
    letter-spacing: 0.5px;
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
    .travel-clothing-text-section__headline {
        color: var(--body-font-color);
    }
}

.travel-clothing-text-section__body {
    max-width: 70%;
    margin: 0 auto 80px;
    text-align: left;
}

.travel-clothing-text-section__body p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--body-font-color);
    margin: 0 0 1.5em 0;
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
    .travel-clothing-text-section__body p {
        color: var(--body-font-color);
    }
}


.travel-clothing-text-section__attribution {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--body-font-color);
    letter-spacing: 0.5px;
    margin: 0;
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
    .travel-clothing-text-section__attribution {
        color: var(--body-font-color);
    }
}

@media (max-width: 767px) {
    .travel-clothing-text-section__inner {
        padding: 0 15px;
    }

    .travel-clothing-text-section__headline {
        font-size: 19px;
        margin-bottom: 20px;
        padding: 0px 15px;
    }

    .travel-clothing-text-section__body {
        max-width: 100%;
        margin: 0px;
        padding: 0px 15px;
    }

    .travel-clothing-text-section__body p {
        font-size: 11px;
        line-height: 1.5;
        margin: 0 0 1.5em 0;
    }


    .travel-clothing-text-section__attribution {
        font-size: 10px;
    }
}

/* END_SECTION:title-text-link-section */